<?xml version="1.0" encoding="UTF-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="mobi.my2cents"
	android:versionCode="7" android:versionName="1.1.beta2">
	<!-- We require Cupcake (Android 1.5) or later, but are really targeting Donut. -->
	<uses-sdk
		android:minSdkVersion="3"
		android:targetSdkVersion="4" />
	<!-- Donut-specific flags which allow us to run on large and high dpi screens. -->
	<supports-screens
		android:largeScreens="true"
		android:normalScreens="true"
		android:smallScreens="true"
		android:anyDensity="true" />
	<application
		android:label="@string/app_name"
		android:theme="@android:style/Theme.Light.NoTitleBar"
		android:icon="@drawable/birdy"
		android:debuggable="true"
		android:name="My2Cents">
		<activity
			android:name=".MainActivity">
			<intent-filter>
				<action
					android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:screenOrientation="landscape"
			android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
			android:configChanges="orientation|keyboardHidden"
			android:name=".ScanActivity">
			<intent-filter>
				<action
					android:name="android.intent.action.VIEW" />
				<category
					android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
			android:name=".FeedActivity"
			android:configChanges="orientation|keyboardHidden">
			<intent-filter>
				<action
					android:name="android.intent.action.VIEW" />
				<category
					android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
			android:name=".ProductActivity"
			android:configChanges="orientation|keyboardHidden"
			android:windowSoftInputMode="stateHidden">
			<intent-filter>
				<action
					android:name="android.intent.action.VIEW" />
				<category
					android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
			android:name=".HistoryActivity">
			<intent-filter>
				<action
					android:name="android.intent.action.VIEW" />
				<category
					android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
			android:name=".SettingsActivity">
			<intent-filter>
				<action
					android:name="android.intent.action.VIEW" />
				<category
					android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
			android:name=".AuthorizationActivity">
			<intent-filter>
				<action
					android:name="android.intent.action.VIEW" />
				<category
					android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
			android:name=".HelpActivity"
			android:screenOrientation="portrait">
			<intent-filter>
				<action
					android:name="android.intent.action.VIEW" />
				<category
					android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<provider
			android:name=".data.My2CentsProvider"
			android:authorities="mobi.my2cents"></provider>
		<service
			android:name=".FeedUpdaterService"></service>
		<service
			android:name=".ProductUpdaterService"></service>
		<service
			android:name=".ImageDownloaderService"></service>
		<service
			android:name=".SyncService"></service>
</application>
	<uses-permission
		android:name="android.permission.CAMERA" />
	<uses-permission
		android:name="android.permission.INTERNET" />
	<uses-permission
		android:name="android.permission.VIBRATE" />
	<uses-permission
		android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission
		android:name="android.permission.FLASHLIGHT"></uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	<uses-permission
		android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission
		android:name="android.permission.WAKE_LOCK" />
</manifest>